.home{
  article{
    figure{
      border: 1px solid #1c1c1c;
      border-radius: 5px 5px 5px 5px;
      background: #d6d6d6;
      figcaption{
        padding: 5px;
      }
    }
    footer{
      border-top: 1px dashed #1c1c1c;
      border-bottom: 1px solid #1c1c1c;
    }
  }
}